<!DOCTYPE html>
<html>
<head>
    <title>Product Filter</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Filter Products</h2>

<input type="number" id="price" placeholder="Max Price">
<input type="text" id="category" placeholder="Category">
<button onclick="loadProducts()">Filter</button>

<hr>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>


<script src="/script.js" defer></script>

</body>
</html>